button {
    width: 70px;
    border-radius: 8px;
    border: 1px solid rgba(95, 95, 95, 0.15);
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px 1px rgba(126, 126, 126, 0.15);
}

.btn-clicked {
    background-color: rgb(208, 255, 208);
}